/*Block elements DO NOT INCLUDE margin, padding and border, into respected
height and width,they ADD THEM UP*/

body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    font-size: 10px;
    padding: 5px;
    margin: 16px auto;
  }
  
  .title {
    background: #e3f4ff;
    font-size: 20px;
    padding: 10px 5px;
    margin: 5px;
  }
  /*Added different paddings for more control*/
  
  .content {
    background: #e3f4ff;
    font-size: 15px;
    border: white solid 5px;
    padding: 10px 5px;

  }
  
  .button-container {
    background: #e3f4ff;
    font-size: 15px;
    margin: 3px 5px;
    padding: 5px 5px 2px;
    text-align: center;
  }
  
  button {
    background: white;
    border: 1px solid #eee;
    display: block;
    margin: 3px 120px 5px;
    padding: 7px 20px 10px;
    width: 140px;
  }

  /*Changed display to block element for it to be on its own and in its own
  line*/

  a {
    display: block;
  }